<!--<div class="container recipe-form">-->
<!--<div class="container-heading">-->
<div class="container">
<h2>Edit Recipe</h2>
</div>
<div class="edit-info">
<%= simple_form_for(@recipe) do |f| %>
  <%= f.input :title %>
  <%= f.input :ingredients %>
  <%= f.input :description %>
  <%= f.input :photo, as: :file %>
  <%= f.input :category_ids, collection: current_user.categories, as: :check_boxes, label_method: :name, value_method: :id, label: "Select categories" %>
  <%= f.submit "Update #{@recipe.title}" %>
  <% end %>
  </div>
    <%= link_to "Back to all recipes", recipes_path, class: "btn btn-primary" %>
</div>
