
<div class="recipe-header justify-content-center">
  <h1><%= @recipe.title %></h1>
</div>

<div class="container recipe-container">
  <div class="row">
    <!-- Left section for categories, ingredients, and method -->
    <div class="col-8">
      <h2>Categories</h2>
      <ul class="category-list">
        <% @recipe.categories.each do |category| %>
          <li class="category-name"><%= category.name %></li>
        <% end %>
      </ul>

      <!-- Ingredients section -->
      <div class="container-ingredients">
        <h3>Ingredients</h3>
        <%= simple_format(@recipe.ingredients) %>
      </div>

      <!-- Method section -->
      <div class="container-method">
        <h3>Method</h3>
        <%= simple_format(@recipe.method) %>
      </div>

       Display the recipe photo if attached
<!--      <div class="recipe-photo">-->
        <%#= image_tag @recipe.photo.url if @recipe.photo.attached? %>
<!--      </div>
-->
      <!-- Links for navigation -->
      <%#= link_to "Back to all recipes", recipes_path, class: "btn btn-primary-link" %>
    <div class="container-edit">
    <% if @recipe.user == current_user %>
      <%= link_to edit_recipe_path(@recipe), class: "btn btn-edit" do %>
      <i class="fas fa-light fa-pen"></i>
      <% end %>
    <% else %>
      <%= button_to recipes_path, params: { recipe: { title: @recipe.title, ingredients: @recipe.ingredients, method: @recipe.method, category_ids: [] } } do %>
        <p>Add to my recipe book</p>
      <% end %>
    <% end %>
    </div>
    </div>


    <!-- Right section for notes -->
    <div class="col-4">
      <div class="container-notes">
        <h2>Notes</h2>
        <!-- Link to generate AI tips -->
        <% if @recipe.user == current_user %>
        <%= link_to "Generate AI Cooking Tips", new_ai_tip_path(recipe: @recipe), class: "btn btn-notes" %>
        <% end %>
        <!-- Display notes associated with the recipe -->
        <ul>
          <% @recipe.notes.each do |note| %>
            <li>
              <p><%= note.content %></p>
              <!-- Link to update each note -->
              <% if @recipe.user == current_user %>
                <%= link_to edit_recipe_note_path(@recipe, note) do %>
                  <i class="fas fa-light fa-pen"></i>
                <% end %>
                <%= button_to recipe_note_path(@recipe, note), method: :delete, form:{ data: { turbo_confirm: "Are you sure?" }}, class: "btn btn-delete" do %>
                  <i class="fas fa-regular fa-trash"></i>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>

        <!-- Link to add a new note -->
        <% if @recipe.user == current_user %>
          <%= link_to new_recipe_note_path(@recipe), class: "btn btn-add" do %>
            <i class="fas fa-regular fa-circle-plus"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
